<div style="text-align:center">
    <h1>
        Bienvenue super administrateur!
    </h1>
    <p>
        <button (click)="seDeconnecter()">
            Se déconnecter
        </button>
    </p>

</div>