<div class="row" style="background-color:#adb5bd">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Création de question et réponses</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <fieldset class="border border-info">
                <legend>Question</legend>
                <div class="row">
                <div class="form-group">
                    <label for="techno">Technologie</label>
                    <select id="techno" class="form-control" name="techno" [(ngModel)]="question.technologie">
                        <option value="Métrologie">Métrologie</option>
                        <option value="Méthode">Méthode maintenance</option>
                        <option value="Développement">Développement</option>
                        <option value="Validation">Validation qualité</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="difficulte">Difficulté</label>
                    <select id="difficulte" class="form-control" name="difficulte" [(ngModel)]="question.difficulte">
                        <option value="Junior">Junior</option>
                        <option value="Confirmé">Confirmé</option>
                        <option value="Expérimenté">Expérimenté</option>
                    </select>
                </div>
            </div>
                <div class="form-group">
                    <label for="question">Question</label>
                    <textarea type="text" id="question" class="form-control" name="question" [(ngModel)]="question.question"></textarea>
                </div>
            </fieldset>
            <fieldset>
                <legend>Réponses</legend>
                <div>Type de réponse :</div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="choixTypeRep" id="typeQCM1" value="typeQCM1" ngModel>
                    <label class="form-check-label" for="typeQCM1">QCM (réponse unique)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="choixTypeRep" id="typeQCM2" value="typeQCM2" ngModel>
                    <label class="form-check-label" for="typeQCM2">QCM (réponse multiple)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="choixTypeRep" id="typeLibre" value="typeLibre" ngModel>
                    <label class="form-check-label" for="typeLibre">Réponse libre</label>
                </div>
                <!-- {{f.value['choixTypeRep']}} -->
            </fieldset>

            <div class="form-group" *ngIf="f.value['choixTypeRep']==='typeQCM1' || f.value['choixTypeRep']==='typeQCM2'">
                Champ de réponses
                <input class="form-control" type="text" name="reponse1" [(ngModel)]="question.reponses[0].reponse">
            </div>
            <button class="btn btn-success"
                    type="submit">Enregistrer
            </button>
    
        </form>
    </div>
</div>

<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>